<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neues Projekt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Projekt hinzufügen</h1>
    </div>
    <div class="row ml-5">
        <form action="#" method="post" th:action="@{/projects/create}" th:object="${project}">
            <div class="form-group">
                <label for="title">Titel:</label>
                <input id="title" class="form-control" type="text" th:field="*{title}">
            </div>
            <button type="submit" class="btn btn-primary">Speichern</button>
            <a href="/fe/projects" class="btn btn-warning">Abbrechen</a>
        </form>
    </div>
</div>
</body>
</html>